In [1]:
import pandas as pd

In [2]:
hla_proteins = pd.read_excel("../data/raw/HLA-protein array-Mastersheet.xlsx")
hla_proteins

,Sample ID,ANA,Sample ID.1,Sample ID .1,Order,Diagnosis,Aggrecan,Alpha-actinin,Amyloid,Beta 2-glycoprotein I,...,Topoisomerase,TPO,TTG,U1-snRNP-68,U1-snRNP-A,U1-snRNP-BB,U1-snRNP-C,Vimentin,Vitronectin,Anti-IgG
0,TB03073435,1.989557,TB03073435,TB03073435,1,ANA-NC,19.252095,16.631108,5.991793,85.283405,...,3.630878,164.740519,19.927608,246.984120,24.571753,18.910962,68.817797,42.895020,128.093986,5856.070884
1,TB03073270,2.052575,P1-H10,TB03073270,3,ANA-NC,41.248904,170.099623,1.017379,537.991880,...,956.044710,2815.495397,996.570126,67.985104,433.841896,170.609792,288.258537,316.016929,1410.321790,13247.847750
2,TB03072422,2.079582,P1-A11,TB03072422,4,ANA-NC,154.800733,135.314234,1.518694,454.661012,...,405.462878,693.960639,687.057493,96.785006,313.622010,168.091098,284.861146,214.104125,1213.888080,8908.236160
3,TB03070120,2.091598,P1-D11,TB03070120,5,ANA-NC,6.793968,54.490707,1.578051,139.750640,...,533.679413,425.629179,489.513198,74.291700,86.221311,97.693535,145.362686,164.234815,410.385764,8952.660601
4,TB03073428,2.109629,TB03073428,TB03073428,6,ANA-NC,1.153137,5.878690,0.458948,46.990314,...,3.805351,52.640683,10.435886,270.006919,25.714945,12.220941,58.694649,18.450185,237.084871,5468.634686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,51429,241.038000,51429,51429,720,SLE,122.651909,205.206737,67.633710,544.371852,...,628.187833,992.732242,3070.416639,1649.044445,444.666527,415.616700,469.621587,117.656039,556.941190,4283.212407
690,28225,246.231156,28225,28225,721,SLE,163.957154,379.606132,161.764892,486.642184,...,856.837414,1148.800359,2617.116518,20437.170574,2492.456564,1197.709372,494.408216,76.872840,508.264442,3533.566813
691,28403,246.231156,28403,28403,722,SLE,120.688752,81.834662,33.482103,292.133419,...,326.840844,645.879559,1781.482467,459.412264,6702.525335,1332.362150,5174.234212,52.449213,553.040045,3992.096841
692,51972,246.887000,51972,51972,723,SLE,125.628382,210.376622,20.103406,606.745578,...,830.839983,1223.811346,3688.008792,51687.191354,18195.223235,4870.708691,6235.982436,84.430128,1533.175351,6413.584447
693,62015,256.401000,62015,62015,724,SLE,62.193457,42.692274,19.648489,178.169996,...,246.335183,589.991173,1729.210270,4028.335401,737.041707,4656.343482,764.365161,66.491939,1092.780091,4948.128733

In [53]:
hla_proteins.set_index("Sample ID ", inplace=True)

In [58]:
hla_proteins.drop(columns=["ANA", "Sample ID.1", "Sample ID .1", "Order", "Diagnosis"], inplace=True)

In [59]:
hla_proteins.to_csv("../data/processed/all_proteins.csv")

In [44]:
protein_sample_phenotypes = pd.read_excel("../data/raw/Sample phenotype.xlsx")
protein_sample_phenotypes

    Sample ID        ANA Category Diagnosis      ANA.1 Category.1
0      510040  43.680615   ANA+NC        NC  43.680615     ANA+NC
1      500211  43.104184   ANA+NC        NC  43.104184     ANA+NC
2      510649  79.030558   ANA+NC        NC  79.030558     ANA+NC
3      532016  45.943098   ANA+NC        NC  45.943098     ANA+NC
4      541101  63.276299   ANA+NC        NC  63.276299     ANA+NC
..        ...        ...      ...       ...        ...        ...
827     CL291  24.675325       CL        CL  24.675325         CL
828     CL292  14.664502       CL        CL  14.664502         CL
829     CL294  71.861472       CL        CL  71.861472         CL
830   CL45154   8.874459       CL        CL   8.874459         CL
831   CL45443  75.919913       CL        CL  75.919913         CL

[832 rows x 6 columns]

In [47]:
samples_phenotypes = pd.read_table("../data/raw/Sample metadata.csv", sep=",")
samples_phenotypes.set_index("ID", inplace=True)

                  Unnamed: 0  Gender  SLE    SRC
ID
Betty_Ill_4901_2           0  Female    1  Betty
ucl223ILL1                 1  Female    1    UCL
Betty_Ill_3822_2           2  Female    1  Betty
CKG1996ILL1                3     NaN    0    CKG
Betty_Ill_5103_2           4  Female    1  Betty
...                      ...     ...  ...    ...
57739                   1344     NaN    1  Other
1561                    1345     NaN    1  Other
2546                    1346     NaN    0  Other
686-1                   1347     NaN    1  Other
40007                   1348     NaN    1  Other

[1349 rows x 4 columns]

In [4]:
samples_genotypes = pd.read_excel("../data/raw/1349_sample_DAP_19_SNP_genotypes.xlsx")
samples_genotypes

             ID in VCF  Gender  c/c
0     Betty_Ill_4901_2  Female    1
1           ucl223ILL1  Female    1
2     Betty_Ill_3822_2  Female    1
3          CKG1996ILL1       ?    0
4     Betty_Ill_5103_2  Female    1
...                ...     ...  ...
1344             57739       ?    1
1345              1561       ?    1
1346              2546       ?    0
1347             686-1       ?    1
1348             40007       ?    1

[1349 rows x 3 columns]

In [5]:
top_genes = pd.read_excel("../data/raw/p 0.05 SLE association eLIFE.xlsx")
top_genes

,Marker,Chr,Position,Identifier,Reference,Gene Name,Chi-Sq P,Inflation corrected,Yates corrected,Gender corrected,...,Odds Ratio (Major Allele),OR Lower Confidence Bound (Major),OR Upper Confidence Bound (Major),Minor Allele,Allele Freq. (Cases),Allele Freq. (Controls),Major Allele,Allele Freq. (Cases).1,Allele Freq. (Controls).1,FvR Model P-Value
0,7:128574281-Del,7,128574281,NaN,A,NaN,3.502160e-10,3.502160e-10,5.198410e-10,4.964170e-16,...,0.429779,0.328235,0.562737,-,0.158078,0.074669,A,0.841922,0.925331,4.964170e-16
1,X:12922288-SNV,X,12922288,NaN,G,LOC349408,3.634100e-23,3.634100e-23,6.218460e-23,4.620110e-13,...,2.914524,2.344595,3.622992,T,0.096859,0.238137,G,0.903141,0.761863,4.620110e-13
2,1:183231457-Del,1,183231457,rs114312894,G,NMNAT2,7.302210e-11,7.302210e-11,1.070490e-10,1.615370e-12,...,0.444940,0.347093,0.570371,-,0.171543,0.084359,G,0.828457,0.915641,1.615370e-12
3,22:21945986-SNV,22,21945986,rs77941887,C,UBE2L3,3.807210e-16,3.807210e-16,5.835440e-16,3.054970e-12,...,0.399464,0.318714,0.500674,A,0.220569,0.101562,C,0.779431,0.898438,3.054970e-12
4,11:622423-SNV,11,622423,NaN,G,CDHR5,2.734512e-03,2.734512e-03,3.398032e-03,1.371760e-11,...,1.484713,1.145020,1.925184,T,0.078913,0.112847,G,0.921087,0.887153,1.371760e-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17497,16:85964998-SNV,16,85964998,rs399280,C,NaN,2.469286e-01,2.469286e-01,2.713870e-01,9.990871e-01,...,1.142757,0.911587,1.432551,G,0.122898,0.138021,C,0.877102,0.861979,9.990871e-01
17498,22:43555921-SNV,22,43555921,rs138914,G,TSPO,6.920312e-01,6.920312e-01,7.216062e-01,9.995553e-01,...,0.968957,0.828963,1.132593,A,0.400778,0.393229,G,0.599222,0.606771,9.995553e-01
17499,3:58358360-SNV,3,58358360,NaN,T,PXK,6.283017e-01,6.283017e-01,6.843418e-01,9.995914e-01,...,0.927278,0.683017,1.258891,C,0.078080,0.072816,T,0.921920,0.927184,9.995914e-01
17500,3:58361716-SNV,3,58361716,rs6774577,A,PXK,7.472557e-01,7.472557e-01,7.784938e-01,9.997152e-01,...,0.973919,0.829313,1.143740,G,0.350065,0.344077,A,0.649935,0.655923,9.997152e-01
17501,4:103047069-SNV,4,103047069,rs173217,G,NaN,6.416578e-01,6.416578e-01,6.703530e-01,1.000000e+00,...,1.037642,0.888098,1.212366,A,0.396507,0.405382,G,0.603493,0.594618,1.000000e+00

In [7]:
# hla_proteins.to_csv("../data/processed/HLA-protein_array.csv")
# samples_phenotypes.to_csv("../data/processed/sample_phenotype.csv")
# samples_genotypes.to_csv("../data/processed/sample_genotypes.csv")
# top_genes.to_csv("../data/processed/SLE_associated_genes.csv")

In [9]:
import allel
vcf = allel.read_vcf("../data/raw/1349 sample and all 253k unfiltered SNPs.vcf", )

In [10]:
vcf.keys()

dict_keys(['samples', 'calldata/GT', 'variants/ALT', 'variants/CHROM', 'variants/FILTER_PASS', 'variants/ID', 'variants/POS', 'variants/QUAL', 'variants/REF'])

In [48]:
phenotypes_sample_id = pd.Index(samples_phenotypes["ID"].astype(str))
genotypes_sample_id = pd.Index(pd.Series(vcf["samples"].astype(str)))

In [51]:
genotypes_sample_id & phenotypes_sample_id

Index(['Betty_Ill_4901_2', 'ucl223ILL1', 'Betty_Ill_3822_2', 'CKG1996ILL1',
       'Betty_Ill_5103_2', 'Betty_Ill_1045_2', 'Betty_Ill_4595_2',
       'Betty_Ill_4763_2', 'Betty_Ill_4086_2', 'IS0210-1ILL1',
       ...
       '1624', '28289', '80259', 'lgs102938', '285', '57739', '1561', '2546',
       '686-1', '40007'],
      dtype='object', length=1349)